In [13]:
### Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### import upload the dataset

df = pd.read_csv('NYPDARREST.csv')

# This is a breakdown of every arrest effected in NYC by the NYPD during the current year.
" This data is manually extracted every quarter and reviewed by the Office of Management Analysis and Planning. 
Each record represents an arrest effected in NYC by the NYPD and includes information about the type of crime, the location and time of enforcement. 
In addition, information related to suspect demographics is also included. 
This data can be used by the public to explore the nature of police enforcement activity. 
Please refer to the attached data footnotes for additional information about this dataset."

In [19]:
### having a look into our data 

df.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,263238742,2/8/23,380.0,"ROBBERY,CAR JACKING",105.0,ROBBERY,PL 1601003,F,K,62,0,25-44,F,WHITE,989904,156928,40.597407,-73.979638,POINT (-73.979638 40.597407)
1,265590985,3/24/23,155.0,RAPE 2,104.0,RAPE,PL 1303001,F,S,120,0,18-24,M,BLACK,962873,174172,40.644721,-74.077033,POINT (-74.0770327198983 40.6447209438691)
2,265798132,3/28/23,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,S,120,0,25-44,M,BLACK,962873,174172,40.644721,-74.077033,POINT (-74.0770327198983 40.6447209438691)
3,269233687,6/2/23,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,Q,110,0,25-44,M,WHITE HISPANIC,1019164,210169,40.743481,-73.874004,POINT (-73.8740035373971 40.7434812638841)
4,270519574,6/28/23,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,84,0,25-44,M,BLACK HISPANIC,988902,192641,40.695439,-73.983225,POINT (-73.9832253756043 40.6954388081238)

In [28]:
df.shape

(112571, 19)

In [20]:
df.columns

Index(['ARREST_KEY', 'ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD', 'OFNS_DESC',
       'LAW_CODE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT',
       'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD',
       'Y_COORD_CD', 'Latitude', 'Longitude', 'New Georeferenced Column'],
      dtype='object')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112571 entries, 0 to 112570
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ARREST_KEY                112571 non-null  int64
 1   ARREST_DATE               112571 non-null  object
 2   PD_CD                     112110 non-null  float64
 3   PD_DESC                   112571 non-null  object
 4   KY_CD                     112105 non-null  float64
 5   OFNS_DESC                 112571 non-null  object
 6   LAW_CODE                  112571 non-null  object
 7   LAW_CAT_CD                111725 non-null  object
 8   ARREST_BORO               112571 non-null  object
 9   ARREST_PRECINCT           112571 non-null  int64
 10  JURISDICTION_CODE         112571 non-null  int64
 11  AGE_GROUP                 112571 non-null  object
 12  PERP_SEX                  112571 non-null  object
 13  PERP_RACE                 112571 non-null  object
 14  X_COORD_CD                112571 non-null  int64
 15  Y_COORD_CD                112571 non-null  int64
 16  Latitude                  112571 non-null  float64
 17  Longitude                 112571 non-null  float64
 18  New Georeferenced Column  112571 non-null  object
dtypes: float64(4), int64(5), object(10)
memory usage: 16.3+ MB

In [29]:
df.groupby('AGE_GROUP')['ARREST_BORO'].count()

AGE_GROUP
18-24    19682
25-44    64823
45-64    22058
65+       1766
<18       4242
Name: ARREST_BORO, dtype: int64

In [30]:
df.groupby('ARREST_BORO')['AGE_GROUP'].count()

ARREST_BORO
B    26757
K    31104
M    25902
Q    23922
S     4886
Name: AGE_GROUP, dtype: int64